.App {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-board {
  width: 1408px;
  height: 800px;
  background-image: url(../images/Game-Map.png);
  background-size: 1408px 800px;
  border: 1px solid #ccc;
  position: relative;
  justify-content: center;
  align-items: center;
}

.player {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

#player-0 {
  background-color: blue;
}
#player-1 {
  background-color: red ;
}
#player-2 {
  background-color: green;
}
#player-3 {
  background-color: yellow;
}

.gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-family: 'Nosifer', cursive;
  font-weight: bold;
  -webkit-text-stroke: 0.1px black;
  color: rgb(179, 10, 10);
  text-shadow: 2px 2px #000;
  text-align: center;
  z-index: 10;
  background:rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 10px;
}
