
  .container {
    background-image: url(../images/Game-Map.png);
    background-size: 1408px 800px;
    position: absolute;
    width: 1408px;
    height: 800px;
  }
  
  .player {
    
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    background-color: green;
    border: black solid;
  }